# TEAM 4 PREDICT   
Build a model for the government of Spain to predict the shortfallbetween energy generated by fossil fuels 
and energy generated with renewable sources

### TEAM MEMBERS
1. Jefferson Nyatwanga Ombati
2.Sixolile Jafta,
3. Jeniffer Mukami Mariga,
4. Lungisa Nhlakanipho Joctrey,
5. Gellal Ali,
6. Sikiru Raheem__

### DATA ANALYSIS AND MODEL CREATION

#### Table Contents

1. Imports
2. Data Loading
3. Data Cleaning and Procession
4. Exploratory Data Analysis
5. Create and ML_Models
6. Discussion and Export

__1. Imports__

In [2]:
#importing the necessary packages
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

__2. Data loading__

In [3]:
#loading the necessary data
df = pd.read_csv("df_train.csv")
df.head(10)

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.000000,1.000000,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.000000,1.000000,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.000000,1.000000,...,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.000000,1.000000,...,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.000000,0.333333,...,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667
5,5,2015-01-01 18:00:00,1.000000,level_7,0.0,1.000000,69.666667,67.333333,12.333333,0.666667,...,274.639229,284.165625,277.919000,277.919000,284.165625,277.919000,282.077844,274.639229,274.639229,6842.000000
6,6,2015-01-01 21:00:00,1.000000,level_8,0.0,1.000000,83.666667,63.333333,16.333333,1.000000,...,268.287000,283.420333,274.295437,274.295437,283.420333,274.295437,277.637000,268.287000,268.287000,10760.333333
7,7,2015-01-02 00:00:00,1.000000,level_9,0.0,1.000000,83.666667,64.000000,8.666667,1.333333,...,266.882333,282.474000,272.903167,272.903167,282.474000,272.903167,276.457333,266.882333,266.882333,10866.000000
8,8,2015-01-02 03:00:00,1.000000,level_9,0.0,1.000000,86.000000,63.333333,5.333333,1.000000,...,266.226667,281.726667,271.780115,271.780115,281.726667,271.780115,276.151667,266.226667,266.226667,-1850.333333
9,9,2015-01-02 06:00:00,1.000000,level_9,0.0,1.333333,87.000000,63.666667,15.333333,1.000000,...,266.878000,281.803000,271.673667,271.673667,281.803000,271.673667,276.453000,266.878000,266.878000,-4002.333333

__3. Data cleaning and preprocessing__

Data is cleaned and relevant features added,or existing features  augmented.

In [6]:
#data analysis

__4. Exploratory data analysis__

Data analyzed and  explored to reveal insights,patterns, correlation etc.

In [ ]:
#Clean and augment data

In [ ]:
#univariate analysis

#Histograms 
features_load_shortfall_3h = ['load_shortfall_3h']  # create a histogram for the y variable 
df[features_load_shortfall_3h].hist(figsize=(10,10), bins=10);

features_wind_speed = ['Madrid_wind_speed', 'Valencia_wind_speed', 'Bilbao_wind_speed'] # create a list of all numerical features(wind_speed)
df[features_wind_speed].hist(figsize=(10,10), bins=10);

features_rain_1h = ['Bilbao_rain_1h'] # create a list of all numerical features (rain_1h)
df[features_rain_1h].hist();

features_humidity = ['Madrid_humidity', 'Seville_humidity'] # create a list of all numerical features (humidity)
df[features_humidity].hist(figsize=(10,10));

features_clouds_all = ['Bilbao_clouds_all'] # create a list of all numerical features(clouds_all)
df[features_clouds_all].hist(figsize=(10,10));

features_temp_max = ['Madrid_temp_max', 'Bilbao_temp_max',] # create a list of all numerical features (temp_max)
df[features_temp_max].hist(figsize=(10,10), bins=10);

features_temp_min = ['Madrid_temp_min', 'Bilbao_temp_min', 'Seville_temp_min', 'Barcelona_temp_min'] # create a list of all numerical features (temp_min)
df[features_temp_min].hist(figsize=(10,10), bins=10);

features_temp = ['Madrid_temp', 'Bilbao_temp', 'Barcelona_temp']  # create a list of all numerical features (Barcelona_temp)
df[features_temp].hist(figsize=(10,10), bins=10);

In [ ]:
#categorical bar plot for wind
fig_dims = (10, 6)
fig, ax = plt.subplots(figsize=fig_dims)
sns.countplot(x = 'Valencia_wind_deg', data = df, palette="hls")
#plt.title("")

In [ ]:
#Density Plots
df[features_wind_speed].plot(kind='density', subplots=True, layout=(3, 2), sharex=False, figsize=(10, 10));
df[features_rain_1h].plot(kind='density', subplots=True, layout=(3, 2), sharex=False, figsize=(10, 10));
df[features_humidity].plot(kind='density', subplots=True, layout=(3, 2), sharex=False, figsize=(10, 10));
df[features_clouds_all].plot(kind='density', subplots=True, layout=(3, 2), sharex=False, figsize=(10, 10));
df[features_temp_max].plot(kind='density', subplots=True, layout=(3, 2), sharex=False, figsize=(10, 10));
df[features_temp_min].plot(kind='density', subplots=True, layout=(3, 2), sharex=False, figsize=(10, 10));
df[features_temp].plot(kind='density', subplots=True, layout=(3, 2), sharex=False, figsize=(10, 10));
df[features_load_shortfall_3h].plot(kind='density', subplots=True, layout=(3, 2), sharex=False, figsize=(10, 10));

In [ ]:
#Boxplots
sns.boxplot(x='load_shortfall_3h', data=df);
sns.boxplot(x='Madrid_wind_speed', data=df);
sns.boxplot(x='Valencia_wind_speed', data=df);
sns.boxplot(x='Bilbao_wind_speed', data=df);
sns.boxplot(x='Bilbao_rain_1h', data=df);
sns.boxplot(x='Madrid_humidity', data=df);
sns.boxplot(x='Seville_humidity', data=df);
sns.boxplot(x='Bilbao_clouds_all', data=df);
sns.boxplot(x='Madrid_temp_max', data=df);
sns.boxplot(x='Bilbao_temp_max', data=df);
sns.boxplot(x='Madrid_temp_min', data=df);
sns.boxplot(x='Bilbao_temp_min', data=df);
sns.boxplot(x='Seville_temp_min', data=df);
sns.boxplot(x='Barcelona_temp_min', data=df);
sns.boxplot(x='Madrid_temp', data=df);
sns.boxplot(x='Bilbao_temp', data=df);
sns.boxplot(x='Barcelona_temp', data=df);

In [ ]:
#violin plots
sns.violinplot(x='load_shortfall_3h', data=df);
sns.violinplot(x='Madrid_wind_speed', data=df);
sns.violinplot(x='Valencia_wind_speed', data=df);
sns.violinplot(x='Bilbao_wind_speed', data=df);
sns.violinplot(x='Bilbao_rain_1h', data=df);
sns.violinplot(x='Madrid_humidity', data=df);
sns.violinplot(x='Seville_humidity', data=df);
sns.violinplot(x='Bilbao_clouds_all', data=df);
sns.violinplot(x='Madrid_temp_max', data=df);
sns.violinplot(x='Bilbao_temp_max', data=df);
sns.violinplot(x='Madrid_temp_min', data=df);
sns.violinplot(x='Bilbao_temp_min', data=df);
sns.violinplot(x='Seville_temp_min', data=df);
sns.violinplot(x='Barcelona_temp_min', data=df);
sns.violinplot(x='Madrid_temp', data=df);
sns.violinplot(x='Bilbao_temp', data=df);
sns.violinplot(x='Barcelona_temp', data=df);

__5.Create  and compare ML Models__

Various ML models trained and optimized .

In [ ]:
#Modelling

__6. Discussion and Export__

Evaluate performance and final model choice should be motivated

In [ ]:
#validation